@use 'src/styles/vars';

.chat-messages-list {
  flex: 1;
  overflow: auto;

  .chat-message {
    margin: 1em;

    p {
      background-color: vars.$primary-color;
      color: white;
      display: inline-block;
      padding: 1em;
      border-radius: 1.5em;
      max-width: 50%;
      text-align: justify;
    }

    &--mine {
      text-align: right;

      p {
        background-color: vars.$secondary-color;
      }
    }
  }
}
