@use 'src/styles/vars';

.chat-container {
  width: 50%;
  height: 80vh;
  background-color: vars.$white-color;
  align-self: center;
  margin: auto;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
