@use 'src/styles/vars';

.beerlist-container {
  width: 800px;
  margin: 2em auto;

  .beerlist-title {
    text-align: center;
    font-size: 5rem;
    color: vars.$white-color;
  }

  h2 {
    text-align: center;
    font-size: 3rem;
    color: vars.$white-color;
  }

  .beerlist-nav {
    padding-bottom: 2em;
  }
}
